<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>busqueda</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()"><ion-icon name="close-circle-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-item>

    <ion-label position="floating">Ciudad</ion-label>

    <ion-select [(ngModel)]="ciudad" placeholder="Selecciona una ciudad">

      <ion-select-option *ngFor="let city of ciudades" [value]="city">

        {{ city }}

      </ion-select-option>

    </ion-select>

  </ion-item>

  <ion-item>

    <ion-label position="floating">Puntos</ion-label>

    <ion-input [(ngModel)]="puntos" placeholder="Introduce puntos" type="number"></ion-input>

  </ion-item>

  <ion-button expand="block" (click)="search()">Buscar</ion-button>

</ion-content>