<ion-header [translucent]="true">

  <ion-toolbar>

    <ion-title slot="start">

      Pokedex by <strong>Manuel Verdejo</strong>

    </ion-title>

  </ion-toolbar>
  
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>

    <ion-row class="row">

      <ion-col size="4" *ngFor="let pokemon of pokemons">

        <ion-card>

          <ion-img [src]="pokemon.imagen" [alt]="pokemon.nombre"></ion-img>

          <ion-card-header>

            <ion-card-title>{{ pokemon.nombre | titlecase }}</ion-card-title>

          </ion-card-header>

        </ion-card>

      </ion-col>

    </ion-row>

  </ion-grid>

  <ion-footer>

    <ion-toolbar>

      <ion-buttons slot="start">

        <ion-button>Primera</ion-button>

        <ion-button>Anterior</ion-button>

      </ion-buttons>

      <ion-title>Página 1</ion-title>

      <ion-buttons slot="end">

        <ion-button>Siguiente</ion-button>

        <ion-button>Última</ion-button>

      </ion-buttons>

    </ion-toolbar>

  </ion-footer>
  
</ion-content>